body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0 auto;
}
.header-two {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-three {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a {
  display: inline-block;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-one,
.section-two,
.section-three,
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ---------- Header ---------- */
.topline {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo-blue {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.logo-black {
  color: #2e2f42;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.info {
  display: flex;
  gap: 40px;
}
.info .contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info .contacts:hover,
.info .contacts:focus {
  color: #404bbf;
}
.navi {
  display: flex;
  gap: 40px;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-stud {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-stud::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.link-stud:hover,
.link-stud:focus {
  color: #404bbf;
}

/*---------- Main section-1 ----------*/

.section-one {
  background-color: #2e2f42;
  padding: 188px 0 188px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  height: 56px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/*---------- Feature Section-2 ----------*/
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-list-item {
  list-style: none;
  width: calc((100% - 72px) / 4);
}
.hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  max-width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
}
.feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------- Our team Section-3 ----------*/
.section-three .container .header-two {
  margin-bottom: 72px;
}
.section-three {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list {
  display: flex;
  gap: 24px;
}
/* .team-img {} */

.name-work {
  text-align: center;
  padding: 32px 0;
}
.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding-top: 8px;
}
.team-icon {
  width: 40px;
  height: 40px;
}
.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}
.team-icon-item {
  fill: #f4f4fd;
}

/*---------- Portfolio Section-4 ----------*/
/*   width: calc((100% - 48px) / 3); */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.list-item-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.header-three-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraf-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-two-portfolio {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/*---------- Footer ----------*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  align-items: left;
}
.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-footer-black {
  color: #f4f4fd;
}
.logo-footer-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-icon {
  width: 40px;
  height: 40px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-text-container {
  margin-right: 120px;
}
.footer-icon-item {
  fill: #f4f4fd;
}
