*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header-two {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-three {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraf {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}
.section-one,
.section-two,
.section-three,
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */
.topline {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: flex-start;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.info {
  display: flex;
  gap: 40px;
  list-style: none;
}
.info .contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  text-decoration: none;
}
.info .contacts:hover,
.info .contacts:focus {
  color: #404bbf;
}
.navi {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navi .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}
.navi .link:hover,
.navi .link:focus {
  color: #404bbf;
}
.topline .container {
  display: flex;
}

/* Main section-1 */

.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-one .container {
  display: flex;
  flex-direction: column;
}
.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

/* Feature Section-2 */
.feature-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.feature-list-item {
  list-style: none;
  width: calc((100% - 72px) / 4);
}
.section-two .container {
  flex-direction: column;
}
.feature-list-item .header-three {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Our team Section-3 */
.section-three .container .header-two {
  margin-bottom: 72px;
}
.section-three {
  background-color: #f4f4fd;
}
.team-list-item {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.section-three .container {
  flex-direction: column;
}
.name-work {
  padding: 32px 0;
}
.name-work .header-three {
  text-align: center;
  margin-bottom: 8px;
}
.name-work .paragraf {
  text-align: center;
}

/* Portfolio Section-4 */
.section-four .header-two {
  margin-bottom: 72px;
}

.section-four .container {
  display: flex;
  flex-direction: column;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 48px) / 3);
}
.list-item-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.list-item-name .header-three {
  margin-bottom: 8px;
}
/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.studio-footer {
  color: #f4f4fd;
}
.logo-footer {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
