body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header-two {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-three {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraf {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header */
.topline {
  background-color: #ffffff;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.info .contacts {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.info .contacts:hover,
.info .contacts:focus {
  color: #404bbf;
}
.navi .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navi .link:hover,
.navi .link:focus {
  color: #404bbf;
}

/* Section-main */
.section-main {
  background-color: #2e2f42;
}
.title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

/* Section-1 */

/* Section-2 */
.section-2 {
  background-color: #f4f4fd;
}
/* .cards { 
  background-color: #ffffff;
} */
.team-list {
  background-color: #ffffff;
}

/* Section-3 */
.section-3 {
  background-color: #ffffff;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.studio-footer {
  color: #f4f4fd;
}

/* .mail {
  color: #434455;
}
.mail:hover,
.mail:focus {
  color: #404bbf;
}

.tel {
  color: #434455;
}
.tel:hover,
.tel:focus {
  color: #404bbf;
} */
/* .studio {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}
.studio:hover,
.studio:focus {
  color: #404bbf;
}
.portfolio {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}
.portfolio:hover,
.portfolio:focus {
  color: #404bbf;
}
.contacts {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
} */
